.filter-bar {
    margin-bottom: 0.5em;
}

table.list {
    width: 100%;
    border-collapse: collapse;
}

table.list th.actions, table.list td.actions {
    white-space: nowrap;
    word-spacing: 0.5em;
}

table.list th {
    text-align: left;
    background-color: #ddd;
    padding: 0.3em 0.5em;
}

table.list th:first-child {
    border-top-left-radius: 0.5em;
}

table.list th:last-child {
    border-top-right-radius: 0.5em;
}

table.list td {
    padding: 0.3em 0.5em;
    border: solid 1px #ccc;
    font-size: 0.8em;
}

table.list tr:hover {
    background-color: #eee;
}

.continuation { display: inline; }
tr.full .continuation { display: none; }

.remainder { display: none; }
tr.full .remainder { display: inline; }