.filter-bar {
    margin-bottom: 0.5em;
}

table.list {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #ccc;
    box-shadow: #ccc 0 0 2px;
}

table.list th.actions {
    width: 160px;
}

table.list td.actions {
    padding: 0.8em;
}

table.list th {
    text-align: left;
    background: #eee;
}

table.list th a {
    display: block;
    padding: 0.3em 0.5em;
    color: #222;
}

table.list td {
    padding: 0.3em 0.5em;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    font-size: 0.8em;
}

.continuation { display: inline; }
tr.full .continuation { display: none; }

.remainder { display: none; }
tr.full .remainder { display: inline; }

.pages {
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
}

.pages .nextLink {
    background: url(../images/silk/arrow_right.png) no-repeat center center;
}

.pages .prevLink {
    background: url(../images/silk/arrow_left.png) no-repeat center center;
}

.pages .nextLink,
.pages .prevLink {
    display: inline-block;
    width: 20px;
    height: 20px;

    /* Hide the text (http://stackoverflow.com/a/471538) */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.pages .currentStep {
    color: #666;
}

.currentStep, .step, .nextLink, .prevLink {
    padding: 0.1em 0.3em;
    margin: 0 0.2em;
}

