textarea.errors,
input[type=text].errors,
input[type=password].errors {
    box-shadow: #f00 0 0 3px;
}

textarea.large {
    height: 100px;
}

textarea.small {
    height: 60px;
}

textarea,
input[type=text],
input[type=password] {
    width: 98%;
    border: solid 1px #bbb;
    box-shadow: inset 0 1px 2px rgba( 0,0,0,0.075 );
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
    border: solid 1px #666;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(138, 232, 96, 0.49)
}

select {
    min-width: 120px;
}

label {
    display: block;
}

.input.select {
    float: left;
}

.input {
    margin: 0.3em 0;
}

.buttons {
    margin-top: 0.8em;
    clear: both;
}

.multi-checkboxes ul {
    list-style: none;
    margin: 0 0 0 0.5em;
    padding: 0;
}

#content {
    padding-left: 1em;
    padding-right: 1em;
}

.hidden {
    display: none;
}

ul.output-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pop-out {
    border: solid 1px #bbb;
    border-radius: 0.5em;
    box-shadow: 1px 1px 3px #ddd;
    margin: 0.5em;
    padding: 0.5em;
}

.question-details {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.question-other-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
