@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-shadow: #888 0 0 3px;
    background-color: #fff;
    color: #333;
}

html {
    background-color: #ddd;
    margin: 0;
    box-sizing: border-box;
}

#content {
    padding: 1em 0.5em;
}

#header {
    width: 100%;
    border-bottom: solid 1px #ddd;
    margin: 0 0 1em 0;
    background: #eee;
    box-shadow: #aaa 0 2px 3px;
}

#header h1 {
    margin: 0.3em;
    padding: 0.5em;
    text-align: center;
}

ul.nav.primary {
    border-top: solid 1px #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

ul.nav.primary.extra {
    border-top: none;
}

ul.nav.primary li {
    display: inline-block;
}

ul.nav.primary li {
    width: 150px;
    border-right: solid 1px #ddd;
}

ul.nav.primary.extra li {
    width: 80px;
    border-left: solid 1px #ddd;
    border-right: none;
    font-size: 0.8em;
}

ul.nav.primary.extra {
    float: right;
    margin-top: 0.2em;
}

ul.nav.primary li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
    text-align: center;
    color: #333;
}

ul.nav.primary li.active a {
    color: #fff;
    background-color: #666;
}

/* Button-ish things */

.pages .step,
.pages .currentStep,
.pages .nextLink,
.pages .prevLink,
.pages .currentStep,
.action {
    border: solid 1px #ccc;
    border-radius: 0.3em;
}

ul.nav.primary li a:hover,
.pages .step:hover,
.pages .nextLink:hover,
.pages .prevLink:hover,
.action:hover {
    color: #fff;
    background-color: #bbb;
    text-decoration: none;
}

.errors ul, .messages ul {
    list-style: none;
    margin: 0.5em;
    padding: 1em;
    border: solid 1px;
}

.errors ul {
    border-color: #f66;
    background: #fcc;
    box-shadow: #b44 0 0 3px;
}

.messages ul {
    list-style: none;
    border-color: #aaf;
    background: #cfc8ff;
    box-shadow: #5151bb 0 0 3px;
}

a.action {
    background: no-repeat 5px 50%;
    padding: 0.2em 5px 0.2em 25px;
    margin: 0 0.2em;
}

a.action.edit {
    background-image: url( ../images/silk/pencil.png );
}

a.action.delete {
    background-image: url( ../images/silk/delete.png );
}

.info {
    font-size: 0.8em;
    color: #555;
}

.createdModified {
    font-size: 0.8em;
    color: #666;
}

h1, h2, h3, h4, h5 {
    clear: both;
}