.button {
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    border: solid 1px #666;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.pop-out {
    border: solid 1px #bbb;
    border-radius: 0.5em;
    box-shadow: 1px 1px 3px #ddd;
    margin: 0.5em;
    padding: 0.5em;
}
