/* Styles for mobile devices */

@media screen and (max-width: 480px) {

    /* ===== HEADER ===== */

    #header h1 {
        display: none;
    }

    /* ===== MESSAGES ===== */

	.errors ul,
	.messages p {
		margin: 0.5em;
	}

	.error ul {
		margin-left: 0;
	}


    /* ===== NAVIGATION ===== */

    ul.nav.primary .profile {
        display: none;
    }

    ul.nav.primary a:hover {
        border: none;
    }

    ul.nav.primary a {
        padding: 0;
    }

    ul.nav.primary li a {
        background-position: center 12px !important;
    }

    ul.nav.primary li {
        width: 50px;
        height: 50px;
        padding: 0;

        /* Hide the text (http://stackoverflow.com/a/471538) */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    ul.nav.primary.extra li {
        width: 50px;
        height: 48px;
    }

    /* ===== FORMS ===== */

	/* slightly smaller margin around content body */
	fieldset,
	.property-list {
		padding: 0.3em 1em 1em;
	}

	input, textarea {
		width: 100%;
        box-sizing: border-box;
	}

	select, input[type=checkbox], input[type=radio], input[type=submit], input[type=button], input[type=reset] {
		width: auto;
	}

    /* ----- FORM DETAIL PANELS ----- */

    .main-details {
        float: none;
        width: 100%;
    }

    .other-details {
        float: none;
        width: 100%;
    }

    /* ===== PANELS ===== */

    .panel {
        width: 100%;
        padding: 0;
        margin: 0.5em 0;
        display: block;
    }

    /* ===== LISTS ===== */

	/* hide all but the first column of list tables */
	table.list td:not(:first-child):not(.actions),
	table.list th:not(:first-child):not(.actions) {
		display: none;
	}

	/* Hide individual steps in pagination, just have next & previous */
	.pages .step, .pagination .currentStep {
		display: none;
	}

    .pages .nextLink,
    .pages .prevLink {
        display: inline-block;
        width: auto;

        /* Unhide text */
        text-indent: 0;
        overflow: visible;
    }

	.pages .prevLink {
		float: left;
        padding-left: 25px;
        background-position: 5px center;
	}

	.pages .nextLink {
		float: right;
        padding-right: 25px;
        background-position: right center;
	}

	/* pagination needs to wrap around floated buttons */
	.pages {
		overflow: hidden;
	}

	table.list thead th {
		text-align: center;
	}

    table.list th.actions {
        width: 90px;
    }

    table.list td.actions {
        padding: 2px;
    }

    table.list tr:hover {
        background-color: transparent;
    }

    select.hide-on-mobile {
        display: none;
    }


    /* ===== ACTIONS ===== */

    /* Action buttons are only icons */
    a.action {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0;
        background-position: center center;
        background-color: transparent;
        margin: 0.6em 0 0.6em 0.3em;

        /* Hide the text (http://stackoverflow.com/a/471538) */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    a.action:hover {
        background-color: transparent;
        text-decoration: none;
    }

}
